# Ignorar todos os arquivos CSV do projeto
*.csv

# Ignorar diretório e arquivos do VSCODE
.vscode

# Ignorar ambientes virtuais Python
.venv/
venv/

# Ignorar diretórios de execução e resultados
runs/
results/
client_plots/
results_compare.csv
results_compare.json

# Ignorar datasets brutos e processados
data/

# Ignorar cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd
